.btn.btn-sm {
    font-size: 13px;
    padding: 3px 10px;
    line-height: 1.5;
	border-radius: 3px;
}
.btn-success {
    background: none repeat scroll 0% 0% #8BBF61;
    border-color: #8BBF61;
    color: #FFF;
}
.btn {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-shadow: none;
    box-shadow: none !important;
    display: inline-block;
    margin-bottom: 0px;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
}
a {
    outline: 0px none !important;
    text-decoration: none;
}

.btn-generico  {
	display: inline-block; 
	padding: 5px; 
	color: white; 
	font-size: 11px; 
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
	border-radius: 3px;
	cursor: pointer;
}

.btn-generico:HOVER  {
	background: #fff;
}

.btn-vermelho {
	background: #E14F4E;
	border: 1px solid #E14F4E; 
}

.btn-vermelho:HOVER {
	color: #E14F4E;
}

.btn-amarelo {
	background: #E8D34C;
	border: 1px solid #E8D34C; 
}

.btn-amarelo:HOVER {
	color: #E8D34C;
}

.btn-verde {
	background: #569515;
	border: 1px solid #569515; 
}

.btn-verde:HOVER {
	color: #569515;
}

.btnAdicionar {
	background-color:#ffffff;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #474747;
	display:inline-block;
	cursor:pointer;
	color:#4d484d;
	font-family:Times New Roman;
	font-size:13px;
	font-weight:bold;
	padding:0px 4px;
	text-decoration:none;
}
.btnAdicionar:hover {
	background-color:#ffffff;
}
.btnAdicionar:active {
	position:relative;
	top:1px;
}


