#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.blank.title', type.modelName) /}
<div id="crudBlank" class="${type.name}">
    <div class="objectForm">
    #{form action:@create(), enctype:'multipart/form-data'}
        #{crud.form}
			#{crud.custom 'projeto'}
					<span class="formulariotxt">
						<label for="addressType">
		            		&{'projeto'}
		        		</label>
		        	</span>
					#{select 'object.projeto.id', class:'combobox', value:object.projeto?.id}
						#{option}&{'crud.selectValue'}#{/option}
						#{if controllers.Seguranca.isScrumMaster()}
							#{set list:models.Projeto.recuperaProjetosPorScrumMaster(session.username)/}
						#{/if}
						#{if controllers.Seguranca.isGerente()}
							#{set list:models.Projeto.recuperaProjetosPorGerente(session.username)/}
						#{/if}
						#{if controllers.Seguranca.isGestor()}
							#{set list:models.Projeto.findAll()/}
						#{/if}
						#{list items:list, as:'projeto'}
							#{option projeto.id}${projeto}#{/option}
						#{/list}
					#{/select}
				    #{ifError 'object.projeto'}
				        <span class="error">#{error 'object.projeto' /}</span>
				    #{/ifError}
				    <br />
					<span class="crudHelp">&{'crud.help.required'}</span>
			#{/crud.custom}
		 #{/crud.form}
        <p class="crudButtons" style="position: fixed; left:0px; right:0px; bottom: 0px;">
            <input type="submit" name="_save" value="&{'crud.save', type.modelName}" />
            <input type="submit" name="_saveAndContinue" value="&{'crud.saveAndContinue', type.modelName}" />
            <input type="submit" name="_saveAndAddAnother" value="&{'crud.saveAndAddAnother', type.modelName}" />
        </p>
    #{/form}
    </div>
</div>